@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color-rust: #b5563a;
    --tertiary-color: #1d0200;
    --secondary-color-sand: #f4e1d2;
    --white-color: #ffffff;
    --teal-color: #3a6b6f;
    --turquoise-accent: #5eaaa8;
}

/* general styles */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    border: none;
    background: none;
}

button {
    cursor: pointer;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: 24px;
}

.section-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background-color: var(--primary-color-rust);
    margin: 20px auto 0;
    border-radius: 50px;
}

/* navbar section styles */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--primary-color-rust);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .logo {
    height: 100px;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 12px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--secondary-color-sand);
    background-color: var(--tertiary-color);
}

.navbar .nav-menu #menu-close-button {
    display: none;
}

.navbar #menu-open-button {
    display: none;
}

/* hero section styles */
.hero-section {
    background-color: var(--primary-color-rust);
    min-height: 100vh;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--white-color);
}

.hero-section .hero-details .title {
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
    color: var(--tertiary-color);
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}

.hero-section .hero-details .description {
    max-width: 90%;
    margin: 24px 0 40px;
    font-size: 14px;
    line-height: 2em;
}

.hero-section .hero-details .hero-buttons {
    display: flex;
    gap: 25px;
}

.hero-section .hero-details .button {
    padding: 10px 20px;
    background-color: var(--tertiary-color);
    color: var(--primary-color-rust);
    border-radius: 30px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 0.3s ease;
    font-size: 12px;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--secondary-color-sand);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color-rust);
    border: var(--secondary-color-sand);
}

/* .hero-section .hero-image-wrapper {
    margin-right: 30px;
}

.hero-section .hero-image-wrapper .hero-img {
    width: 400px;
    height: 450px;
    object-fit: cover;
} */


/* about section styles */
.about-section {
    background-color: var(--secondary-color-sand);
    padding: 80px 0;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-img {
    width: 400px;
    height: 420px;
    object-fit: cover;
    border-radius: 50%;
    gap: 50px;
}

.about-section .about-details {
    max-width: 600px;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details .about-description {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 14px;
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color-rust);
    font-size: 24px;
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--tertiary-color);
}

@media screen and (max-width: 900px) {
    body.menu-open header::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.5);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        font-size: 22px;
        border: none;
        background: none;
        color: var(--tertiary-color);
    }

    .navbar .nav-menu #menu-close-button {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
        display: block;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        background: var(--white-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        transition: left 0.2s ease;
    }

    body.menu-open .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--tertiary-color);
        font-size: 1em;
        display: block;
    }

    .hero-section .section-content {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 50px;
        padding: 120px 20px 20px;
    }

    .hero-section .hero-details .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .hero-section .hero-details .subtitle {
        font-size: 18px;
    }

    .hero-section .hero-details .description {
        max-width: 100%;
        font-size: 12px;
    }

    .hero-section .hero-details .hero-buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        min-width: 270px;
        margin-right: 0;
    }

    .hero-section .hero-image-wrapper .hero-img {
        width: 250px;
        height: 280px;
    }
}
